/* CSS styles for the Sign Up form */
#sign-up-container {
    height: 100vh; /* Make sure the container takes the full viewport height */
  }
  
  #sign-up-card {
    width: 500px;
    border-radius: 15px;
    background-color: #f8f9fa;
  }
  
  #sign-up-title {
    color: black;
  }

  .navbar-hidden {
    display: none;
  }
  
  /* Add any other custom styles here */

  .book-cover {
    float: left;
    margin-right: 10px;
  }
  